
 
body{
    background-color:aquamarine 
} 

 .box-one{
     color:green;
     background-color:cornflowerblue;
    height : 100px;
    width: 200px;
    text-align:center;
    font-family:verndana;
    font-size:30px
  }
    
