
body{
    background-color:aquamarine 
} 
 .box-one{
     color:green;
     background-color:cornflowerblue;
    height : 100px;
    width: 100px
    }
 .box-two{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px
    }
 .box-three{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px
    }
