
 
body{
    background-color:aquamarine 
} 

 .box-one{
     color:green;
     background-color:cornflowerblue;
    height : 100px;
    width: 100px;
    text-align:center;
    font-family:verndana;
    font-size:30px

    }
 .box-two{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px
    }
 .box-three{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px
    }

 .box-four{
     color:green;
     background-color:cornflowerblue;
    
    height : 100px;
    width: 100px;
 }

 .box-five{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px;
 

 } .box-six{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px;
 }
  .box-seven{
     color:green;
     background-color:cornflowerblue;
    height : 100px;
    width: 100px;
 }
  .box-eight{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px;
 }
  
  .box-nine{
     color:green;
     background-color:red;
    height : 100px;
    width: 100px;
 }

  .box-ten{
     color:green;
     background-color:cornflowerblue;
    height : 100px;
    width: 100px;
    text-align:center;
    font-family:verndana;
    font-size:30px
 }
